{
  "openapi": "3.1.0",
  "jsonSchemaDialect": "https://spec.openapis.org/oas/3.1/dialect/base",
  "info": {
    "title": "Instagram Graph API",
    "version": "v26.0"
  },
  "servers": [
    {
      "url": "https://graph.facebook.com/v26.0"
    }
  ],
  "paths": {
    "/{node-id}/adcreatives": {
      "post": {
        "operationId": "post_id_adcreatives",
        "tags": [
          "AdAccount"
        ],
        "parameters": [
          {
            "name": "node-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-meta-operations": [
          {
            "node": "AdAccount",
            "name": null,
            "method": "post",
            "endpoint": "adcreatives",
            "basePath": null,
            "returnType": "AdCreative",
            "parameters": [
              {
                "name": "actor_id",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "ad_disclaimer_spec",
                "required": false,
                "type": "map"
              },
              {
                "name": "adlabels",
                "required": false,
                "type": "list\u003CObject\u003E"
              },
              {
                "name": "applink_treatment",
                "required": false,
                "type": "adaccountadcreatives_applink_treatment_enum_param"
              },
              {
                "name": "asset_feed_spec",
                "required": false,
                "type": "Object"
              },
              {
                "name": "authorization_category",
                "required": false,
                "type": "adaccountadcreatives_authorization_category_enum_param"
              },
              {
                "name": "body",
                "required": false,
                "type": "string"
              },
              {
                "name": "branded_content",
                "required": false,
                "type": "map"
              },
              {
                "name": "branded_content_sponsor_page_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "bundle_folder_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "call_to_action",
                "required": false,
                "type": "Object"
              },
              {
                "name": "categorization_criteria",
                "required": false,
                "type": "adaccountadcreatives_categorization_criteria_enum_param"
              },
              {
                "name": "category_media_source",
                "required": false,
                "type": "adaccountadcreatives_category_media_source_enum_param"
              },
              {
                "name": "contextual_multi_ads",
                "required": false,
                "type": "map"
              },
              {
                "name": "creative_sourcing_spec",
                "required": false,
                "type": "map"
              },
              {
                "name": "degrees_of_freedom_spec",
                "required": false,
                "type": "map"
              },
              {
                "name": "destination_set_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "destination_spec",
                "required": false,
                "type": "map"
              },
              {
                "name": "dynamic_ad_voice",
                "required": false,
                "type": "adaccountadcreatives_dynamic_ad_voice_enum_param"
              },
              {
                "name": "enable_launch_instant_app",
                "required": false,
                "type": "bool"
              },
              {
                "name": "execution_options",
                "required": false,
                "type": "list\u003Cadaccountadcreatives_execution_options_enum_param\u003E"
              },
              {
                "name": "existing_post_title",
                "required": false,
                "type": "string"
              },
              {
                "name": "facebook_branded_content",
                "required": false,
                "type": "map"
              },
              {
                "name": "format_transformation_spec",
                "required": false,
                "type": "list\u003Cmap\u003E"
              },
              {
                "name": "generative_asset_spec",
                "required": false,
                "type": "map"
              },
              {
                "name": "image_crops",
                "required": false,
                "type": "map"
              },
              {
                "name": "image_file",
                "required": false,
                "type": "string"
              },
              {
                "name": "image_hash",
                "required": false,
                "type": "string"
              },
              {
                "name": "image_url",
                "required": false,
                "type": "string"
              },
              {
                "name": "instagram_branded_content",
                "required": false,
                "type": "map"
              },
              {
                "name": "instagram_permalink_url",
                "required": false,
                "type": "string"
              },
              {
                "name": "instagram_user_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "interactive_components_spec",
                "required": false,
                "type": "map"
              },
              {
                "name": "is_dco_internal",
                "required": false,
                "type": "bool"
              },
              {
                "name": "link_og_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "link_url",
                "required": false,
                "type": "string"
              },
              {
                "name": "marketing_message_structured_spec",
                "required": false,
                "type": "map"
              },
              {
                "name": "media_optimization_spec",
                "required": false,
                "type": "map"
              },
              {
                "name": "media_sourcing_spec",
                "required": false,
                "type": "map"
              },
              {
                "name": "name",
                "required": false,
                "type": "string"
              },
              {
                "name": "object_id",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "object_story_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "object_story_spec",
                "required": false,
                "type": "AdCreativeObjectStorySpec"
              },
              {
                "name": "object_type",
                "required": false,
                "type": "string"
              },
              {
                "name": "object_url",
                "required": false,
                "type": "string"
              },
              {
                "name": "omnichannel_link_spec",
                "required": false,
                "type": "map"
              },
              {
                "name": "page_welcome_message",
                "required": false,
                "type": "string"
              },
              {
                "name": "place_page_set_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "platform_customizations",
                "required": false,
                "type": "Object"
              },
              {
                "name": "playable_asset_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "portrait_customizations",
                "required": false,
                "type": "map"
              },
              {
                "name": "product_set_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "product_suggestion_settings",
                "required": false,
                "type": "map"
              },
              {
                "name": "recommender_settings",
                "required": false,
                "type": "map"
              },
              {
                "name": "regional_regulation_disclaimer_spec",
                "required": false,
                "type": "map"
              },
              {
                "name": "source_facebook_post_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "source_instagram_media_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "template_url",
                "required": false,
                "type": "string"
              },
              {
                "name": "template_url_spec",
                "required": false,
                "type": "string"
              },
              {
                "name": "thumbnail_url",
                "required": false,
                "type": "string"
              },
              {
                "name": "title",
                "required": false,
                "type": "string"
              },
              {
                "name": "url_tags",
                "required": false,
                "type": "string"
              },
              {
                "name": "use_page_actor_override",
                "required": false,
                "type": "bool"
              },
              {
                "name": "wamo_whatsapp_identity_spec",
                "required": false,
                "type": "map"
              }
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "x-meta-return-type": "AdCreative",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "post_id": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Graph API error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "actor_id": {
                    "type": "integer",
                    "format": "int64",
                    "minimum": 0
                  },
                  "ad_disclaimer_spec": {
                    "type": "string",
                    "description": "A JSON-encoded value.",
                    "contentMediaType": "application/json",
                    "contentSchema": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "adlabels": {
                    "type": "string",
                    "description": "A JSON-encoded value.",
                    "contentMediaType": "application/json",
                    "contentSchema": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    }
                  },
                  "applink_treatment": {
                    "$ref": "#/components/schemas/adaccountadcreatives_applink_treatment_enum_param"
                  },
                  "asset_feed_spec": {
                    "type": "string",
                    "description": "A JSON-encoded value.",
                    "contentMediaType": "application/json",
                    "contentSchema": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "authorization_category": {
                    "$ref": "#/components/schemas/adaccountadcreatives_authorization_category_enum_param"
                  },
                  "body": {
                    "type": "string"
                  },
                  "branded_content": {
                    "type": "string",
                    "description": "A JSON-encoded value.",
                    "contentMediaType": "application/json",
                    "contentSchema": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "branded_content_sponsor_page_id": {
                    "type": "string"
                  },
                  "bundle_folder_id": {
                    "type": "string"
                  },
                  "call_to_action": {
                    "type": "string",
                    "description": "A JSON-encoded value.",
                    "contentMediaType": "application/json",
                    "contentSchema": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "categorization_criteria": {
                    "$ref": "#/components/schemas/adaccountadcreatives_categorization_criteria_enum_param"
                  },
                  "category_media_source": {
                    "$ref": "#/components/schemas/adaccountadcreatives_category_media_source_enum_param"
                  },
                  "contextual_multi_ads": {
                    "type": "string",
                    "description": "A JSON-encoded value.",
                    "contentMediaType": "application/json",
                    "contentSchema": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "creative_sourcing_spec": {
                    "type": "string",
                    "description": "A JSON-encoded value.",
                    "contentMediaType": "application/json",
                    "contentSchema": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "degrees_of_freedom_spec": {
                    "type": "string",
                    "description": "A JSON-encoded value.",
                    "contentMediaType": "application/json",
                    "contentSchema": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "destination_set_id": {
                    "type": "string"
                  },
                  "destination_spec": {
                    "type": "string",
                    "description": "A JSON-encoded value.",
                    "contentMediaType": "application/json",
                    "contentSchema": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "dynamic_ad_voice": {
                    "$ref": "#/components/schemas/adaccountadcreatives_dynamic_ad_voice_enum_param"
                  },
                  "enable_launch_instant_app": {
                    "type": "boolean"
                  },
                  "execution_options": {
                    "type": "string",
                    "description": "A JSON-encoded value.",
                    "contentMediaType": "application/json",
                    "contentSchema": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/adaccountadcreatives_execution_options_enum_param"
                      }
                    }
                  },
                  "existing_post_title": {
                    "type": "string"
                  },
                  "facebook_branded_content": {
                    "type": "string",
                    "description": "A JSON-encoded value.",
                    "contentMediaType": "application/json",
                    "contentSchema": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "format_transformation_spec": {
                    "type": "string",
                    "description": "A JSON-encoded value.",
                    "contentMediaType": "application/json",
                    "contentSchema": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    }
                  },
                  "generative_asset_spec": {
                    "type": "string",
                    "description": "A JSON-encoded value.",
                    "contentMediaType": "application/json",
                    "contentSchema": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "image_crops": {
                    "type": "string",
                    "description": "A JSON-encoded value.",
                    "contentMediaType": "application/json",
                    "contentSchema": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "image_file": {
                    "type": "string"
                  },
                  "image_hash": {
                    "type": "string"
                  },
                  "image_url": {
                    "type": "string"
                  },
                  "instagram_branded_content": {
                    "type": "string",
                    "description": "A JSON-encoded value.",
                    "contentMediaType": "application/json",
                    "contentSchema": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "instagram_permalink_url": {
                    "type": "string"
                  },
                  "instagram_user_id": {
                    "type": "string"
                  },
                  "interactive_components_spec": {
                    "type": "string",
                    "description": "A JSON-encoded value.",
                    "contentMediaType": "application/json",
                    "contentSchema": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "is_dco_internal": {
                    "type": "boolean"
                  },
                  "link_og_id": {
                    "type": "string"
                  },
                  "link_url": {
                    "type": "string"
                  },
                  "marketing_message_structured_spec": {
                    "type": "string",
                    "description": "A JSON-encoded value.",
                    "contentMediaType": "application/json",
                    "contentSchema": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "media_optimization_spec": {
                    "type": "string",
                    "description": "A JSON-encoded value.",
                    "contentMediaType": "application/json",
                    "contentSchema": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "media_sourcing_spec": {
                    "type": "string",
                    "description": "A JSON-encoded value.",
                    "contentMediaType": "application/json",
                    "contentSchema": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "name": {
                    "type": "string"
                  },
                  "object_id": {
                    "type": "integer",
                    "format": "int64",
                    "minimum": 0
                  },
                  "object_story_id": {
                    "type": "string"
                  },
                  "object_story_spec": {
                    "type": "string",
                    "description": "A JSON-encoded value.",
                    "contentMediaType": "application/json",
                    "contentSchema": {
                      "$ref": "#/components/schemas/AdCreativeObjectStorySpec"
                    }
                  },
                  "object_type": {
                    "type": "string"
                  },
                  "object_url": {
                    "type": "string"
                  },
                  "omnichannel_link_spec": {
                    "type": "string",
                    "description": "A JSON-encoded value.",
                    "contentMediaType": "application/json",
                    "contentSchema": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "page_welcome_message": {
                    "type": "string"
                  },
                  "place_page_set_id": {
                    "type": "string"
                  },
                  "platform_customizations": {
                    "type": "string",
                    "description": "A JSON-encoded value.",
                    "contentMediaType": "application/json",
                    "contentSchema": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "playable_asset_id": {
                    "type": "string"
                  },
                  "portrait_customizations": {
                    "type": "string",
                    "description": "A JSON-encoded value.",
                    "contentMediaType": "application/json",
                    "contentSchema": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "product_set_id": {
                    "type": "string"
                  },
                  "product_suggestion_settings": {
                    "type": "string",
                    "description": "A JSON-encoded value.",
                    "contentMediaType": "application/json",
                    "contentSchema": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "recommender_settings": {
                    "type": "string",
                    "description": "A JSON-encoded value.",
                    "contentMediaType": "application/json",
                    "contentSchema": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "regional_regulation_disclaimer_spec": {
                    "type": "string",
                    "description": "A JSON-encoded value.",
                    "contentMediaType": "application/json",
                    "contentSchema": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "source_facebook_post_id": {
                    "type": "string"
                  },
                  "source_instagram_media_id": {
                    "type": "string"
                  },
                  "template_url": {
                    "type": "string"
                  },
                  "template_url_spec": {
                    "type": "string"
                  },
                  "thumbnail_url": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "url_tags": {
                    "type": "string"
                  },
                  "use_page_actor_override": {
                    "type": "boolean"
                  },
                  "wamo_whatsapp_identity_spec": {
                    "type": "string",
                    "description": "A JSON-encoded value.",
                    "contentMediaType": "application/json",
                    "contentSchema": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{node-id}/advideos": {
      "post": {
        "operationId": "post_id_advideos",
        "tags": [
          "AdAccount"
        ],
        "parameters": [
          {
            "name": "node-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-meta-operations": [
          {
            "node": "AdAccount",
            "name": null,
            "method": "post",
            "endpoint": "advideos",
            "basePath": null,
            "returnType": "AdVideo",
            "parameters": [
              {
                "name": "application_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "asked_fun_fact_prompt_id",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "audio_story_wave_animation_handle",
                "required": false,
                "type": "string"
              },
              {
                "name": "chunk_session_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "composer_entry_picker",
                "required": false,
                "type": "string"
              },
              {
                "name": "composer_entry_point",
                "required": false,
                "type": "string"
              },
              {
                "name": "composer_entry_time",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "composer_session_events_log",
                "required": false,
                "type": "string"
              },
              {
                "name": "composer_session_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "composer_source_surface",
                "required": false,
                "type": "string"
              },
              {
                "name": "composer_type",
                "required": false,
                "type": "string"
              },
              {
                "name": "container_type",
                "required": false,
                "type": "adaccountadvideos_container_type_enum_param"
              },
              {
                "name": "content_category",
                "required": false,
                "type": "adaccountadvideos_content_category_enum_param"
              },
              {
                "name": "creative_tools",
                "required": false,
                "type": "string"
              },
              {
                "name": "description",
                "required": false,
                "type": "string"
              },
              {
                "name": "edit_description_spec",
                "required": false,
                "type": "map"
              },
              {
                "name": "embeddable",
                "required": false,
                "type": "bool"
              },
              {
                "name": "end_offset",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "fbuploader_video_file_chunk",
                "required": false,
                "type": "string"
              },
              {
                "name": "file_size",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "file_url",
                "required": false,
                "type": "string"
              },
              {
                "name": "fisheye_video_cropped",
                "required": false,
                "type": "bool"
              },
              {
                "name": "formatting",
                "required": false,
                "type": "adaccountadvideos_formatting_enum_param"
              },
              {
                "name": "fov",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "front_z_rotation",
                "required": false,
                "type": "float"
              },
              {
                "name": "fun_fact_prompt_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "fun_fact_toastee_id",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "guide",
                "required": false,
                "type": "list\u003Clist\u003Cunsigned int\u003E\u003E"
              },
              {
                "name": "guide_enabled",
                "required": false,
                "type": "bool"
              },
              {
                "name": "initial_heading",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "initial_pitch",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "instant_game_entry_point_data",
                "required": false,
                "type": "string"
              },
              {
                "name": "is_ai_generated",
                "required": false,
                "type": "bool"
              },
              {
                "name": "is_boost_intended",
                "required": false,
                "type": "bool"
              },
              {
                "name": "is_group_linking_post",
                "required": false,
                "type": "bool"
              },
              {
                "name": "is_partnership_ad",
                "required": false,
                "type": "bool"
              },
              {
                "name": "is_voice_clip",
                "required": false,
                "type": "bool"
              },
              {
                "name": "location_source_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "name",
                "required": false,
                "type": "string"
              },
              {
                "name": "og_action_type_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "og_icon_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "og_object_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "og_phrase",
                "required": false,
                "type": "string"
              },
              {
                "name": "og_suggestion_mechanism",
                "required": false,
                "type": "string"
              },
              {
                "name": "original_fov",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "original_projection_type",
                "required": false,
                "type": "adaccountadvideos_original_projection_type_enum_param"
              },
              {
                "name": "partnership_ad_ad_code",
                "required": false,
                "type": "string"
              },
              {
                "name": "publish_event_id",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "referenced_sticker_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "replace_video_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "selected_audio_spec",
                "required": false,
                "type": "map"
              },
              {
                "name": "slideshow_spec",
                "required": false,
                "type": "map"
              },
              {
                "name": "source",
                "required": false,
                "type": "string"
              },
              {
                "name": "source_instagram_media_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "spherical",
                "required": false,
                "type": "bool"
              },
              {
                "name": "start_offset",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "swap_mode",
                "required": false,
                "type": "adaccountadvideos_swap_mode_enum_param"
              },
              {
                "name": "text_format_metadata",
                "required": false,
                "type": "string"
              },
              {
                "name": "thumb",
                "required": false,
                "type": "file"
              },
              {
                "name": "time_since_original_post",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "title",
                "required": false,
                "type": "string"
              },
              {
                "name": "transcode_setting_properties",
                "required": false,
                "type": "string"
              },
              {
                "name": "unpublished_content_type",
                "required": false,
                "type": "adaccountadvideos_unpublished_content_type_enum_param"
              },
              {
                "name": "upload_phase",
                "required": false,
                "type": "adaccountadvideos_upload_phase_enum_param"
              },
              {
                "name": "upload_session_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "upload_setting_properties",
                "required": false,
                "type": "string"
              },
              {
                "name": "video_file_chunk",
                "required": false,
                "type": "string"
              },
              {
                "name": "video_id_original",
                "required": false,
                "type": "string"
              },
              {
                "name": "video_start_time_ms",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "waterfall_id",
                "required": false,
                "type": "string"
              }
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "x-meta-return-type": "AdVideo",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "post_id": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Graph API error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "application_id": {
                    "type": "string"
                  },
                  "asked_fun_fact_prompt_id": {
                    "type": "integer",
                    "format": "int64",
                    "minimum": 0
                  },
                  "audio_story_wave_animation_handle": {
                    "type": "string"
                  },
                  "chunk_session_id": {
                    "type": "string"
                  },
                  "composer_entry_picker": {
                    "type": "string"
                  },
                  "composer_entry_point": {
                    "type": "string"
                  },
                  "composer_entry_time": {
                    "type": "integer",
                    "format": "int64",
                    "minimum": 0
                  },
                  "composer_session_events_log": {
                    "type": "string"
                  },
                  "composer_session_id": {
                    "type": "string"
                  },
                  "composer_source_surface": {
                    "type": "string"
                  },
                  "composer_type": {
                    "type": "string"
                  },
                  "container_type": {
                    "$ref": "#/components/schemas/adaccountadvideos_container_type_enum_param"
                  },
                  "content_category": {
                    "$ref": "#/components/schemas/adaccountadvideos_content_category_enum_param"
                  },
                  "creative_tools": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "edit_description_spec": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "embeddable": {
                    "type": "boolean"
                  },
                  "end_offset": {
                    "type": "integer",
                    "format": "int64",
                    "minimum": 0
                  },
                  "fbuploader_video_file_chunk": {
                    "type": "string"
                  },
                  "file_size": {
                    "type": "integer",
                    "format": "int64",
                    "minimum": 0
                  },
                  "file_url": {
                    "type": "string"
                  },
                  "fisheye_video_cropped": {
                    "type": "boolean"
                  },
                  "formatting": {
                    "$ref": "#/components/schemas/adaccountadvideos_formatting_enum_param"
                  },
                  "fov": {
                    "type": "integer",
                    "format": "int64",
                    "minimum": 0
                  },
                  "front_z_rotation": {
                    "type": "number",
                    "format": "float"
                  },
                  "fun_fact_prompt_id": {
                    "type": "string"
                  },
                  "fun_fact_toastee_id": {
                    "type": "integer",
                    "format": "int64",
                    "minimum": 0
                  },
                  "guide": {
                    "type": "array",
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "integer",
                        "format": "int64",
                        "minimum": 0
                      }
                    }
                  },
                  "guide_enabled": {
                    "type": "boolean"
                  },
                  "initial_heading": {
                    "type": "integer",
                    "format": "int64",
                    "minimum": 0
                  },
                  "initial_pitch": {
                    "type": "integer",
                    "format": "int64",
                    "minimum": 0
                  },
                  "instant_game_entry_point_data": {
                    "type": "string"
                  },
                  "is_ai_generated": {
                    "type": "boolean"
                  },
                  "is_boost_intended": {
                    "type": "boolean"
                  },
                  "is_group_linking_post": {
                    "type": "boolean"
                  },
                  "is_partnership_ad": {
                    "type": "boolean"
                  },
                  "is_voice_clip": {
                    "type": "boolean"
                  },
                  "location_source_id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "og_action_type_id": {
                    "type": "string"
                  },
                  "og_icon_id": {
                    "type": "string"
                  },
                  "og_object_id": {
                    "type": "string"
                  },
                  "og_phrase": {
                    "type": "string"
                  },
                  "og_suggestion_mechanism": {
                    "type": "string"
                  },
                  "original_fov": {
                    "type": "integer",
                    "format": "int64",
                    "minimum": 0
                  },
                  "original_projection_type": {
                    "$ref": "#/components/schemas/adaccountadvideos_original_projection_type_enum_param"
                  },
                  "partnership_ad_ad_code": {
                    "type": "string"
                  },
                  "publish_event_id": {
                    "type": "integer",
                    "format": "int64",
                    "minimum": 0
                  },
                  "referenced_sticker_id": {
                    "type": "string"
                  },
                  "replace_video_id": {
                    "type": "string"
                  },
                  "selected_audio_spec": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "slideshow_spec": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "source": {
                    "type": "string"
                  },
                  "source_instagram_media_id": {
                    "type": "string"
                  },
                  "spherical": {
                    "type": "boolean"
                  },
                  "start_offset": {
                    "type": "integer",
                    "format": "int64",
                    "minimum": 0
                  },
                  "swap_mode": {
                    "$ref": "#/components/schemas/adaccountadvideos_swap_mode_enum_param"
                  },
                  "text_format_metadata": {
                    "type": "string"
                  },
                  "thumb": {
                    "type": "string",
                    "format": "binary"
                  },
                  "time_since_original_post": {
                    "type": "integer",
                    "format": "int64",
                    "minimum": 0
                  },
                  "title": {
                    "type": "string"
                  },
                  "transcode_setting_properties": {
                    "type": "string"
                  },
                  "unpublished_content_type": {
                    "$ref": "#/components/schemas/adaccountadvideos_unpublished_content_type_enum_param"
                  },
                  "upload_phase": {
                    "$ref": "#/components/schemas/adaccountadvideos_upload_phase_enum_param"
                  },
                  "upload_session_id": {
                    "type": "string"
                  },
                  "upload_setting_properties": {
                    "type": "string"
                  },
                  "video_file_chunk": {
                    "type": "string"
                  },
                  "video_id_original": {
                    "type": "string"
                  },
                  "video_start_time_ms": {
                    "type": "integer",
                    "format": "int64",
                    "minimum": 0
                  },
                  "waterfall_id": {
                    "type": "string"
                  }
                }
              },
              "encoding": {
                "edit_description_spec": {
                  "contentType": "application/json"
                },
                "guide": {
                  "contentType": "application/json"
                },
                "selected_audio_spec": {
                  "contentType": "application/json"
                },
                "slideshow_spec": {
                  "contentType": "application/json"
                }
              }
            }
          }
        }
      }
    },
    "/{node-id}/connected_instagram_accounts": {
      "get": {
        "operationId": "get_id_connected_instagram_accounts",
        "tags": [
          "AdAccount"
        ],
        "parameters": [
          {
            "name": "node-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-meta-operations": [
          {
            "node": "AdAccount",
            "name": null,
            "method": "get",
            "endpoint": "connected_instagram_accounts",
            "basePath": null,
            "returnType": "IGUser",
            "parameters": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/IGUser"
                      }
                    },
                    "paging": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "summary": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Graph API error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{node-id}/connected_instagram_accounts_with_iabp": {
      "get": {
        "operationId": "get_id_connected_instagram_accounts_with_iabp",
        "tags": [
          "AdAccount"
        ],
        "parameters": [
          {
            "name": "node-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "business_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-meta-operations": [
          {
            "node": "AdAccount",
            "name": null,
            "method": "get",
            "endpoint": "connected_instagram_accounts_with_iabp",
            "basePath": null,
            "returnType": "IGUser",
            "parameters": [
              {
                "name": "business_id",
                "required": false,
                "type": "string"
              }
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/IGUser"
                      }
                    },
                    "paging": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "summary": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Graph API error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{node-id}/instagram_accounts": {
      "get": {
        "operationId": "get_id_instagram_accounts",
        "tags": [
          "AdAccount",
          "Business",
          "Page"
        ],
        "parameters": [
          {
            "name": "node-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "required": false
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ],
        "x-meta-operations": [
          {
            "node": "AdAccount",
            "name": null,
            "method": "get",
            "endpoint": "instagram_accounts",
            "basePath": null,
            "returnType": "IGUser",
            "parameters": []
          },
          {
            "node": "Business",
            "name": null,
            "method": "get",
            "endpoint": "instagram_accounts",
            "basePath": null,
            "returnType": "IGUser",
            "parameters": []
          },
          {
            "node": "Page",
            "name": null,
            "method": "get",
            "endpoint": "instagram_accounts",
            "basePath": null,
            "returnType": "IGUser",
            "parameters": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/IGUser"
                      }
                    },
                    "paging": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "summary": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Graph API error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "delete_id_instagram_accounts",
        "tags": [
          "Business"
        ],
        "parameters": [
          {
            "name": "node-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instagram_account",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-meta-operations": [
          {
            "node": "Business",
            "name": null,
            "method": "delete",
            "endpoint": "instagram_accounts",
            "basePath": null,
            "returnType": "Object",
            "parameters": [
              {
                "name": "instagram_account",
                "required": true,
                "type": "string"
              }
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "x-meta-return-type": "Object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "post_id": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Graph API error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{node-id}/client_instagram_assets": {
      "get": {
        "operationId": "get_id_client_instagram_assets",
        "tags": [
          "Business"
        ],
        "parameters": [
          {
            "name": "node-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-meta-operations": [
          {
            "node": "Business",
            "name": null,
            "method": "get",
            "endpoint": "client_instagram_assets",
            "basePath": null,
            "returnType": "InstagramBusinessAsset",
            "parameters": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/InstagramBusinessAsset"
                      }
                    },
                    "paging": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "summary": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Graph API error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{node-id}/instagram_business_accounts": {
      "get": {
        "operationId": "get_id_instagram_business_accounts",
        "tags": [
          "Business"
        ],
        "parameters": [
          {
            "name": "node-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-meta-operations": [
          {
            "node": "Business",
            "name": null,
            "method": "get",
            "endpoint": "instagram_business_accounts",
            "basePath": null,
            "returnType": "IGUser",
            "parameters": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/IGUser"
                      }
                    },
                    "paging": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "summary": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Graph API error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{node-id}/owned_instagram_accounts": {
      "get": {
        "operationId": "get_id_owned_instagram_accounts",
        "tags": [
          "Business"
        ],
        "parameters": [
          {
            "name": "node-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-meta-operations": [
          {
            "node": "Business",
            "name": null,
            "method": "get",
            "endpoint": "owned_instagram_accounts",
            "basePath": null,
            "returnType": "IGUser",
            "parameters": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/IGUser"
                      }
                    },
                    "paging": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "summary": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Graph API error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{node-id}/owned_instagram_assets": {
      "get": {
        "operationId": "get_id_owned_instagram_assets",
        "tags": [
          "Business"
        ],
        "parameters": [
          {
            "name": "node-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-meta-operations": [
          {
            "node": "Business",
            "name": null,
            "method": "get",
            "endpoint": "owned_instagram_assets",
            "basePath": null,
            "returnType": "InstagramBusinessAsset",
            "parameters": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/InstagramBusinessAsset"
                      }
                    },
                    "paging": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "summary": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Graph API error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{node-id}/videos": {
      "post": {
        "operationId": "post_id_videos",
        "tags": [
          "Business",
          "Group",
          "Page",
          "User"
        ],
        "parameters": [
          {
            "name": "node-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-meta-operations": [
          {
            "node": "Business",
            "name": null,
            "method": "post",
            "endpoint": "videos",
            "basePath": null,
            "returnType": "AdVideo",
            "parameters": [
              {
                "name": "ad_placements_validation_only",
                "required": false,
                "type": "bool"
              },
              {
                "name": "application_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "asked_fun_fact_prompt_id",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "audio_story_wave_animation_handle",
                "required": false,
                "type": "string"
              },
              {
                "name": "chunk_session_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "composer_entry_picker",
                "required": false,
                "type": "string"
              },
              {
                "name": "composer_entry_point",
                "required": false,
                "type": "string"
              },
              {
                "name": "composer_entry_time",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "composer_session_events_log",
                "required": false,
                "type": "string"
              },
              {
                "name": "composer_session_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "composer_source_surface",
                "required": false,
                "type": "string"
              },
              {
                "name": "composer_type",
                "required": false,
                "type": "string"
              },
              {
                "name": "container_type",
                "required": false,
                "type": "businessvideos_container_type_enum_param"
              },
              {
                "name": "content_category",
                "required": false,
                "type": "businessvideos_content_category_enum_param"
              },
              {
                "name": "creative_folder_id",
                "required": true,
                "type": "string"
              },
              {
                "name": "creative_tools",
                "required": false,
                "type": "string"
              },
              {
                "name": "description",
                "required": false,
                "type": "string"
              },
              {
                "name": "edit_description_spec",
                "required": false,
                "type": "map"
              },
              {
                "name": "embeddable",
                "required": false,
                "type": "bool"
              },
              {
                "name": "end_offset",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "fbuploader_video_file_chunk",
                "required": false,
                "type": "string"
              },
              {
                "name": "file_size",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "file_url",
                "required": false,
                "type": "string"
              },
              {
                "name": "fisheye_video_cropped",
                "required": false,
                "type": "bool"
              },
              {
                "name": "formatting",
                "required": false,
                "type": "businessvideos_formatting_enum_param"
              },
              {
                "name": "fov",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "front_z_rotation",
                "required": false,
                "type": "float"
              },
              {
                "name": "fun_fact_prompt_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "fun_fact_toastee_id",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "guide",
                "required": false,
                "type": "list\u003Clist\u003Cunsigned int\u003E\u003E"
              },
              {
                "name": "guide_enabled",
                "required": false,
                "type": "bool"
              },
              {
                "name": "initial_heading",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "initial_pitch",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "instant_game_entry_point_data",
                "required": false,
                "type": "string"
              },
              {
                "name": "is_ai_generated",
                "required": false,
                "type": "bool"
              },
              {
                "name": "is_boost_intended",
                "required": false,
                "type": "bool"
              },
              {
                "name": "is_group_linking_post",
                "required": false,
                "type": "bool"
              },
              {
                "name": "is_partnership_ad",
                "required": false,
                "type": "bool"
              },
              {
                "name": "is_voice_clip",
                "required": false,
                "type": "bool"
              },
              {
                "name": "location_source_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "og_action_type_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "og_icon_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "og_object_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "og_phrase",
                "required": false,
                "type": "string"
              },
              {
                "name": "og_suggestion_mechanism",
                "required": false,
                "type": "string"
              },
              {
                "name": "original_fov",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "original_projection_type",
                "required": false,
                "type": "businessvideos_original_projection_type_enum_param"
              },
              {
                "name": "partnership_ad_ad_code",
                "required": false,
                "type": "string"
              },
              {
                "name": "publish_event_id",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "referenced_sticker_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "replace_video_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "selected_audio_spec",
                "required": false,
                "type": "map"
              },
              {
                "name": "slideshow_spec",
                "required": false,
                "type": "map"
              },
              {
                "name": "source",
                "required": false,
                "type": "string"
              },
              {
                "name": "source_instagram_media_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "spherical",
                "required": false,
                "type": "bool"
              },
              {
                "name": "start_offset",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "swap_mode",
                "required": false,
                "type": "businessvideos_swap_mode_enum_param"
              },
              {
                "name": "text_format_metadata",
                "required": false,
                "type": "string"
              },
              {
                "name": "thumb",
                "required": false,
                "type": "file"
              },
              {
                "name": "time_since_original_post",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "title",
                "required": false,
                "type": "string"
              },
              {
                "name": "transcode_setting_properties",
                "required": false,
                "type": "string"
              },
              {
                "name": "unpublished_content_type",
                "required": false,
                "type": "businessvideos_unpublished_content_type_enum_param"
              },
              {
                "name": "upload_phase",
                "required": false,
                "type": "businessvideos_upload_phase_enum_param"
              },
              {
                "name": "upload_session_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "upload_setting_properties",
                "required": false,
                "type": "string"
              },
              {
                "name": "validation_ad_placements",
                "required": false,
                "type": "list\u003Cbusinessvideos_validation_ad_placements_enum_param\u003E"
              },
              {
                "name": "video_file_chunk",
                "required": false,
                "type": "string"
              },
              {
                "name": "video_id_original",
                "required": false,
                "type": "string"
              },
              {
                "name": "video_start_time_ms",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "waterfall_id",
                "required": false,
                "type": "string"
              }
            ]
          },
          {
            "node": "Group",
            "name": null,
            "method": "post",
            "endpoint": "videos",
            "basePath": null,
            "returnType": "AdVideo",
            "parameters": [
              {
                "name": "application_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "asked_fun_fact_prompt_id",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "audio_story_wave_animation_handle",
                "required": false,
                "type": "string"
              },
              {
                "name": "composer_entry_picker",
                "required": false,
                "type": "string"
              },
              {
                "name": "composer_entry_point",
                "required": false,
                "type": "string"
              },
              {
                "name": "composer_entry_time",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "composer_session_events_log",
                "required": false,
                "type": "string"
              },
              {
                "name": "composer_session_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "composer_source_surface",
                "required": false,
                "type": "string"
              },
              {
                "name": "composer_type",
                "required": false,
                "type": "string"
              },
              {
                "name": "container_type",
                "required": false,
                "type": "groupvideos_container_type_enum_param"
              },
              {
                "name": "content_category",
                "required": false,
                "type": "groupvideos_content_category_enum_param"
              },
              {
                "name": "creative_tools",
                "required": false,
                "type": "string"
              },
              {
                "name": "description",
                "required": false,
                "type": "string"
              },
              {
                "name": "edit_description_spec",
                "required": false,
                "type": "map"
              },
              {
                "name": "embeddable",
                "required": false,
                "type": "bool"
              },
              {
                "name": "end_offset",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "fbuploader_video_file_chunk",
                "required": false,
                "type": "string"
              },
              {
                "name": "file_size",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "file_url",
                "required": false,
                "type": "string"
              },
              {
                "name": "fisheye_video_cropped",
                "required": false,
                "type": "bool"
              },
              {
                "name": "formatting",
                "required": false,
                "type": "groupvideos_formatting_enum_param"
              },
              {
                "name": "fov",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "front_z_rotation",
                "required": false,
                "type": "float"
              },
              {
                "name": "fun_fact_prompt_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "fun_fact_toastee_id",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "guide",
                "required": false,
                "type": "list\u003Clist\u003Cunsigned int\u003E\u003E"
              },
              {
                "name": "guide_enabled",
                "required": false,
                "type": "bool"
              },
              {
                "name": "initial_heading",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "initial_pitch",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "instant_game_entry_point_data",
                "required": false,
                "type": "string"
              },
              {
                "name": "is_ai_generated",
                "required": false,
                "type": "bool"
              },
              {
                "name": "is_boost_intended",
                "required": false,
                "type": "bool"
              },
              {
                "name": "is_explicit_share",
                "required": false,
                "type": "bool"
              },
              {
                "name": "is_group_linking_post",
                "required": false,
                "type": "bool"
              },
              {
                "name": "is_partnership_ad",
                "required": false,
                "type": "bool"
              },
              {
                "name": "is_voice_clip",
                "required": false,
                "type": "bool"
              },
              {
                "name": "location_source_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "manual_privacy",
                "required": false,
                "type": "bool"
              },
              {
                "name": "og_action_type_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "og_icon_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "og_object_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "og_phrase",
                "required": false,
                "type": "string"
              },
              {
                "name": "og_suggestion_mechanism",
                "required": false,
                "type": "string"
              },
              {
                "name": "original_fov",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "original_projection_type",
                "required": false,
                "type": "groupvideos_original_projection_type_enum_param"
              },
              {
                "name": "partnership_ad_ad_code",
                "required": false,
                "type": "string"
              },
              {
                "name": "publish_event_id",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "published",
                "required": false,
                "type": "bool"
              },
              {
                "name": "referenced_sticker_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "replace_video_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "scheduled_publish_time",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "selected_audio_spec",
                "required": false,
                "type": "map"
              },
              {
                "name": "slideshow_spec",
                "required": false,
                "type": "map"
              },
              {
                "name": "source",
                "required": false,
                "type": "string"
              },
              {
                "name": "source_instagram_media_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "spherical",
                "required": false,
                "type": "bool"
              },
              {
                "name": "start_offset",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "swap_mode",
                "required": false,
                "type": "groupvideos_swap_mode_enum_param"
              },
              {
                "name": "text_format_metadata",
                "required": false,
                "type": "string"
              },
              {
                "name": "thumb",
                "required": false,
                "type": "file"
              },
              {
                "name": "time_since_original_post",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "title",
                "required": false,
                "type": "string"
              },
              {
                "name": "transcode_setting_properties",
                "required": false,
                "type": "string"
              },
              {
                "name": "unpublished_content_type",
                "required": false,
                "type": "groupvideos_unpublished_content_type_enum_param"
              },
              {
                "name": "upload_phase",
                "required": false,
                "type": "groupvideos_upload_phase_enum_param"
              },
              {
                "name": "upload_session_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "upload_setting_properties",
                "required": false,
                "type": "string"
              },
              {
                "name": "video_file_chunk",
                "required": false,
                "type": "string"
              },
              {
                "name": "video_id_original",
                "required": false,
                "type": "string"
              },
              {
                "name": "video_start_time_ms",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "waterfall_id",
                "required": false,
                "type": "string"
              }
            ]
          },
          {
            "node": "Page",
            "name": null,
            "method": "post",
            "endpoint": "videos",
            "basePath": null,
            "returnType": "AdVideo",
            "parameters": [
              {
                "name": "ad_breaks",
                "required": false,
                "type": "list"
              },
              {
                "name": "application_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "asked_fun_fact_prompt_id",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "audio_story_wave_animation_handle",
                "required": false,
                "type": "string"
              },
              {
                "name": "backdated_post",
                "required": false,
                "type": "list"
              },
              {
                "name": "call_to_action",
                "required": false,
                "type": "Object"
              },
              {
                "name": "composer_entry_picker",
                "required": false,
                "type": "string"
              },
              {
                "name": "composer_entry_point",
                "required": false,
                "type": "string"
              },
              {
                "name": "composer_entry_time",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "composer_session_events_log",
                "required": false,
                "type": "string"
              },
              {
                "name": "composer_session_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "composer_source_surface",
                "required": false,
                "type": "string"
              },
              {
                "name": "composer_type",
                "required": false,
                "type": "string"
              },
              {
                "name": "container_type",
                "required": false,
                "type": "pagevideos_container_type_enum_param"
              },
              {
                "name": "content_category",
                "required": false,
                "type": "pagevideos_content_category_enum_param"
              },
              {
                "name": "content_tags",
                "required": false,
                "type": "list\u003Cstring\u003E"
              },
              {
                "name": "creative_tools",
                "required": false,
                "type": "string"
              },
              {
                "name": "crossposted_video_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "custom_labels",
                "required": false,
                "type": "list\u003Cstring\u003E"
              },
              {
                "name": "description",
                "required": false,
                "type": "string"
              },
              {
                "name": "direct_share_status",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "edit_description_spec",
                "required": false,
                "type": "map"
              },
              {
                "name": "embeddable",
                "required": false,
                "type": "bool"
              },
              {
                "name": "end_offset",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "expiration",
                "required": false,
                "type": "Object"
              },
              {
                "name": "fbuploader_video_file_chunk",
                "required": false,
                "type": "string"
              },
              {
                "name": "feed_targeting",
                "required": false,
                "type": "Object"
              },
              {
                "name": "file_size",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "file_url",
                "required": false,
                "type": "string"
              },
              {
                "name": "fisheye_video_cropped",
                "required": false,
                "type": "bool"
              },
              {
                "name": "formatting",
                "required": false,
                "type": "pagevideos_formatting_enum_param"
              },
              {
                "name": "fov",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "front_z_rotation",
                "required": false,
                "type": "float"
              },
              {
                "name": "fun_fact_prompt_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "fun_fact_toastee_id",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "guide",
                "required": false,
                "type": "list\u003Clist\u003Cunsigned int\u003E\u003E"
              },
              {
                "name": "guide_enabled",
                "required": false,
                "type": "bool"
              },
              {
                "name": "initial_heading",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "initial_pitch",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "instant_game_entry_point_data",
                "required": false,
                "type": "string"
              },
              {
                "name": "is_ai_generated",
                "required": false,
                "type": "bool"
              },
              {
                "name": "is_boost_intended",
                "required": false,
                "type": "bool"
              },
              {
                "name": "is_explicit_share",
                "required": false,
                "type": "bool"
              },
              {
                "name": "is_group_linking_post",
                "required": false,
                "type": "bool"
              },
              {
                "name": "is_partnership_ad",
                "required": false,
                "type": "bool"
              },
              {
                "name": "is_voice_clip",
                "required": false,
                "type": "bool"
              },
              {
                "name": "location_source_id",
                "required": false,
                "type": "string"
              },
[...]
