{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://spec.openapis.org/oas/3.1/dialect/base",
  "info": {
    "title": "Instagram Graph API",
    "version": "v26.0"
  },
  "servers": [
    {
      "url": "https://graph.facebook.com/v26.0"
    }
  ],
  "paths": {
    "/{nodeId}/adcreatives": {
      "post": {
        "tags": [
          "AdAccount"
        ],
        "operationId": "PostIdAdcreatives",
        "parameters": [
          {
            "name": "nodeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/PostIdAdcreativesXWwwFormUrlencodedRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostIdAdcreatives200Response"
                }
              }
            }
          },
          "default": {
            "description": "Graph API error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostIdAdcreativesDefaultResponse"
                }
              }
            }
          }
        },
        "x-meta-operations": [
          {
            "node": "AdAccount",
            "name": null,
            "method": "post",
            "endpoint": "adcreatives",
            "basePath": null,
            "returnType": "AdCreative",
            "parameters": [
              {
                "name": "actor_id",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "ad_disclaimer_spec",
                "required": false,
                "type": "map"
              },
              {
                "name": "adlabels",
                "required": false,
                "type": "list\u003CObject\u003E"
              },
              {
                "name": "applink_treatment",
                "required": false,
                "type": "adaccountadcreatives_applink_treatment_enum_param"
              },
              {
                "name": "asset_feed_spec",
                "required": false,
                "type": "Object"
              },
              {
                "name": "authorization_category",
                "required": false,
                "type": "adaccountadcreatives_authorization_category_enum_param"
              },
              {
                "name": "body",
                "required": false,
                "type": "string"
              },
              {
                "name": "branded_content",
                "required": false,
                "type": "map"
              },
              {
                "name": "branded_content_sponsor_page_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "bundle_folder_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "call_to_action",
                "required": false,
                "type": "Object"
              },
              {
                "name": "categorization_criteria",
                "required": false,
                "type": "adaccountadcreatives_categorization_criteria_enum_param"
              },
              {
                "name": "category_media_source",
                "required": false,
                "type": "adaccountadcreatives_category_media_source_enum_param"
              },
              {
                "name": "contextual_multi_ads",
                "required": false,
                "type": "map"
              },
              {
                "name": "creative_sourcing_spec",
                "required": false,
                "type": "map"
              },
              {
                "name": "degrees_of_freedom_spec",
                "required": false,
                "type": "map"
              },
              {
                "name": "destination_set_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "destination_spec",
                "required": false,
                "type": "map"
              },
              {
                "name": "dynamic_ad_voice",
                "required": false,
                "type": "adaccountadcreatives_dynamic_ad_voice_enum_param"
              },
              {
                "name": "enable_launch_instant_app",
                "required": false,
                "type": "bool"
              },
              {
                "name": "execution_options",
                "required": false,
                "type": "list\u003Cadaccountadcreatives_execution_options_enum_param\u003E"
              },
              {
                "name": "existing_post_title",
                "required": false,
                "type": "string"
              },
              {
                "name": "facebook_branded_content",
                "required": false,
                "type": "map"
              },
              {
                "name": "format_transformation_spec",
                "required": false,
                "type": "list\u003Cmap\u003E"
              },
              {
                "name": "generative_asset_spec",
                "required": false,
                "type": "map"
              },
              {
                "name": "image_crops",
                "required": false,
                "type": "map"
              },
              {
                "name": "image_file",
                "required": false,
                "type": "string"
              },
              {
                "name": "image_hash",
                "required": false,
                "type": "string"
              },
              {
                "name": "image_url",
                "required": false,
                "type": "string"
              },
              {
                "name": "instagram_branded_content",
                "required": false,
                "type": "map"
              },
              {
                "name": "instagram_permalink_url",
                "required": false,
                "type": "string"
              },
              {
                "name": "instagram_user_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "interactive_components_spec",
                "required": false,
                "type": "map"
              },
              {
                "name": "is_dco_internal",
                "required": false,
                "type": "bool"
              },
              {
                "name": "link_og_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "link_url",
                "required": false,
                "type": "string"
              },
              {
                "name": "marketing_message_structured_spec",
                "required": false,
                "type": "map"
              },
              {
                "name": "media_optimization_spec",
                "required": false,
                "type": "map"
              },
              {
                "name": "media_sourcing_spec",
                "required": false,
                "type": "map"
              },
              {
                "name": "name",
                "required": false,
                "type": "string"
              },
              {
                "name": "object_id",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "object_story_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "object_story_spec",
                "required": false,
                "type": "AdCreativeObjectStorySpec"
              },
              {
                "name": "object_type",
                "required": false,
                "type": "string"
              },
              {
                "name": "object_url",
                "required": false,
                "type": "string"
              },
              {
                "name": "omnichannel_link_spec",
                "required": false,
                "type": "map"
              },
              {
                "name": "page_welcome_message",
                "required": false,
                "type": "string"
              },
              {
                "name": "place_page_set_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "platform_customizations",
                "required": false,
                "type": "Object"
              },
              {
                "name": "playable_asset_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "portrait_customizations",
                "required": false,
                "type": "map"
              },
              {
                "name": "product_set_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "product_suggestion_settings",
                "required": false,
                "type": "map"
              },
              {
                "name": "recommender_settings",
                "required": false,
                "type": "map"
              },
              {
                "name": "regional_regulation_disclaimer_spec",
                "required": false,
                "type": "map"
              },
              {
                "name": "source_facebook_post_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "source_instagram_media_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "template_url",
                "required": false,
                "type": "string"
              },
              {
                "name": "template_url_spec",
                "required": false,
                "type": "string"
              },
              {
                "name": "thumbnail_url",
                "required": false,
                "type": "string"
              },
              {
                "name": "title",
                "required": false,
                "type": "string"
              },
              {
                "name": "url_tags",
                "required": false,
                "type": "string"
              },
              {
                "name": "use_page_actor_override",
                "required": false,
                "type": "bool"
              },
              {
                "name": "wamo_whatsapp_identity_spec",
                "required": false,
                "type": "map"
              }
            ]
          }
        ]
      }
    },
    "/{nodeId}/advideos": {
      "post": {
        "tags": [
          "AdAccount"
        ],
        "operationId": "PostIdAdvideos",
        "parameters": [
          {
            "name": "nodeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/PostIdAdvideosFormDataRequest"
              },
              "encoding": {
                "edit_description_spec": {
                  "contentType": "application/json"
                },
                "guide": {
                  "contentType": "application/json"
                },
                "selected_audio_spec": {
                  "contentType": "application/json"
                },
                "slideshow_spec": {
                  "contentType": "application/json"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostIdAdvideos200Response"
                }
              }
            }
          },
          "default": {
            "description": "Graph API error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostIdAdvideosDefaultResponse"
                }
              }
            }
          }
        },
        "x-meta-operations": [
          {
            "node": "AdAccount",
            "name": null,
            "method": "post",
            "endpoint": "advideos",
            "basePath": null,
            "returnType": "AdVideo",
            "parameters": [
              {
                "name": "application_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "asked_fun_fact_prompt_id",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "audio_story_wave_animation_handle",
                "required": false,
                "type": "string"
              },
              {
                "name": "chunk_session_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "composer_entry_picker",
                "required": false,
                "type": "string"
              },
              {
                "name": "composer_entry_point",
                "required": false,
                "type": "string"
              },
              {
                "name": "composer_entry_time",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "composer_session_events_log",
                "required": false,
                "type": "string"
              },
              {
                "name": "composer_session_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "composer_source_surface",
                "required": false,
                "type": "string"
              },
              {
                "name": "composer_type",
                "required": false,
                "type": "string"
              },
              {
                "name": "container_type",
                "required": false,
                "type": "adaccountadvideos_container_type_enum_param"
              },
              {
                "name": "content_category",
                "required": false,
                "type": "adaccountadvideos_content_category_enum_param"
              },
              {
                "name": "creative_tools",
                "required": false,
                "type": "string"
              },
              {
                "name": "description",
                "required": false,
                "type": "string"
              },
              {
                "name": "edit_description_spec",
                "required": false,
                "type": "map"
              },
              {
                "name": "embeddable",
                "required": false,
                "type": "bool"
              },
              {
                "name": "end_offset",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "fbuploader_video_file_chunk",
                "required": false,
                "type": "string"
              },
              {
                "name": "file_size",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "file_url",
                "required": false,
                "type": "string"
              },
              {
                "name": "fisheye_video_cropped",
                "required": false,
                "type": "bool"
              },
              {
                "name": "formatting",
                "required": false,
                "type": "adaccountadvideos_formatting_enum_param"
              },
              {
                "name": "fov",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "front_z_rotation",
                "required": false,
                "type": "float"
              },
              {
                "name": "fun_fact_prompt_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "fun_fact_toastee_id",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "guide",
                "required": false,
                "type": "list\u003Clist\u003Cunsigned int\u003E\u003E"
              },
              {
                "name": "guide_enabled",
                "required": false,
                "type": "bool"
              },
              {
                "name": "initial_heading",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "initial_pitch",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "instant_game_entry_point_data",
                "required": false,
                "type": "string"
              },
              {
                "name": "is_ai_generated",
                "required": false,
                "type": "bool"
              },
              {
                "name": "is_boost_intended",
                "required": false,
                "type": "bool"
              },
              {
                "name": "is_group_linking_post",
                "required": false,
                "type": "bool"
              },
              {
                "name": "is_partnership_ad",
                "required": false,
                "type": "bool"
              },
              {
                "name": "is_voice_clip",
                "required": false,
                "type": "bool"
              },
              {
                "name": "location_source_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "name",
                "required": false,
                "type": "string"
              },
              {
                "name": "og_action_type_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "og_icon_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "og_object_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "og_phrase",
                "required": false,
                "type": "string"
              },
              {
                "name": "og_suggestion_mechanism",
                "required": false,
                "type": "string"
              },
              {
                "name": "original_fov",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "original_projection_type",
                "required": false,
                "type": "adaccountadvideos_original_projection_type_enum_param"
              },
              {
                "name": "partnership_ad_ad_code",
                "required": false,
                "type": "string"
              },
              {
                "name": "publish_event_id",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "referenced_sticker_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "replace_video_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "selected_audio_spec",
                "required": false,
                "type": "map"
              },
              {
                "name": "slideshow_spec",
                "required": false,
                "type": "map"
              },
              {
                "name": "source",
                "required": false,
                "type": "string"
              },
              {
                "name": "source_instagram_media_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "spherical",
                "required": false,
                "type": "bool"
              },
              {
                "name": "start_offset",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "swap_mode",
                "required": false,
                "type": "adaccountadvideos_swap_mode_enum_param"
              },
              {
                "name": "text_format_metadata",
                "required": false,
                "type": "string"
              },
              {
                "name": "thumb",
                "required": false,
                "type": "file"
              },
              {
                "name": "time_since_original_post",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "title",
                "required": false,
                "type": "string"
              },
              {
                "name": "transcode_setting_properties",
                "required": false,
                "type": "string"
              },
              {
                "name": "unpublished_content_type",
                "required": false,
                "type": "adaccountadvideos_unpublished_content_type_enum_param"
              },
              {
                "name": "upload_phase",
                "required": false,
                "type": "adaccountadvideos_upload_phase_enum_param"
              },
              {
                "name": "upload_session_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "upload_setting_properties",
                "required": false,
                "type": "string"
              },
              {
                "name": "video_file_chunk",
                "required": false,
                "type": "string"
              },
              {
                "name": "video_id_original",
                "required": false,
                "type": "string"
              },
              {
                "name": "video_start_time_ms",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "waterfall_id",
                "required": false,
                "type": "string"
              }
            ]
          }
        ]
      }
    },
    "/{nodeId}/connected_instagram_accounts": {
      "get": {
        "tags": [
          "AdAccount"
        ],
        "operationId": "GetIdConnectedInstagramAccounts",
        "parameters": [
          {
            "name": "nodeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetIdConnectedInstagramAccounts200Response"
                }
              }
            }
          },
          "default": {
            "description": "Graph API error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetIdConnectedInstagramAccountsDefaultResponse"
                }
              }
            }
          }
        },
        "x-meta-operations": [
          {
            "node": "AdAccount",
            "name": null,
            "method": "get",
            "endpoint": "connected_instagram_accounts",
            "basePath": null,
            "returnType": "IGUser",
            "parameters": []
          }
        ]
      }
    },
    "/{nodeId}/connected_instagram_accounts_with_iabp": {
      "get": {
        "tags": [
          "AdAccount"
        ],
        "operationId": "GetIdConnectedInstagramAccountsWithIabp",
        "parameters": [
          {
            "name": "nodeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "business_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetIdConnectedInstagramAccountsWithIabp200Response"
                }
              }
            }
          },
          "default": {
            "description": "Graph API error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetIdConnectedInstagramAccountsWithIabpDefaultResponse"
                }
              }
            }
          }
        },
        "x-meta-operations": [
          {
            "node": "AdAccount",
            "name": null,
            "method": "get",
            "endpoint": "connected_instagram_accounts_with_iabp",
            "basePath": null,
            "returnType": "IGUser",
            "parameters": [
              {
                "name": "business_id",
                "required": false,
                "type": "string"
              }
            ]
          }
        ]
      }
    },
    "/{nodeId}/instagram_accounts": {
      "get": {
        "tags": [
          "AdAccount",
          "Business",
          "Page"
        ],
        "operationId": "GetIdInstagramAccounts",
        "parameters": [
          {
            "name": "nodeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetIdInstagramAccounts200Response"
                }
              }
            }
          },
          "default": {
            "description": "Graph API error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetIdInstagramAccountsDefaultResponse"
                }
              }
            }
          }
        },
        "x-meta-operations": [
          {
            "node": "AdAccount",
            "name": null,
            "method": "get",
            "endpoint": "instagram_accounts",
            "basePath": null,
            "returnType": "IGUser",
            "parameters": []
          },
          {
            "node": "Business",
            "name": null,
            "method": "get",
            "endpoint": "instagram_accounts",
            "basePath": null,
            "returnType": "IGUser",
            "parameters": []
          },
          {
            "node": "Page",
            "name": null,
            "method": "get",
            "endpoint": "instagram_accounts",
            "basePath": null,
            "returnType": "IGUser",
            "parameters": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Business"
        ],
        "operationId": "DeleteIdInstagramAccounts",
        "parameters": [
          {
            "name": "nodeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instagram_account",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteIdInstagramAccounts200Response"
                }
              }
            }
          },
          "default": {
            "description": "Graph API error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteIdInstagramAccountsDefaultResponse"
                }
              }
            }
          }
        },
        "x-meta-operations": [
          {
            "node": "Business",
            "name": null,
            "method": "delete",
            "endpoint": "instagram_accounts",
            "basePath": null,
            "returnType": "Object",
            "parameters": [
              {
                "name": "instagram_account",
                "required": true,
                "type": "string"
              }
            ]
          }
        ]
      }
    },
    "/{nodeId}/client_instagram_assets": {
      "get": {
        "tags": [
          "Business"
        ],
        "operationId": "GetIdClientInstagramAssets",
        "parameters": [
          {
            "name": "nodeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetIdClientInstagramAssets200Response"
                }
              }
            }
          },
          "default": {
            "description": "Graph API error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetIdClientInstagramAssetsDefaultResponse"
                }
              }
            }
          }
        },
        "x-meta-operations": [
          {
            "node": "Business",
            "name": null,
            "method": "get",
            "endpoint": "client_instagram_assets",
            "basePath": null,
            "returnType": "InstagramBusinessAsset",
            "parameters": []
          }
        ]
      }
    },
    "/{nodeId}/instagram_business_accounts": {
      "get": {
        "tags": [
          "Business"
        ],
        "operationId": "GetIdInstagramBusinessAccounts",
        "parameters": [
          {
            "name": "nodeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetIdInstagramBusinessAccounts200Response"
                }
              }
            }
          },
          "default": {
            "description": "Graph API error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetIdInstagramBusinessAccountsDefaultResponse"
                }
              }
            }
          }
        },
        "x-meta-operations": [
          {
            "node": "Business",
            "name": null,
            "method": "get",
            "endpoint": "instagram_business_accounts",
            "basePath": null,
            "returnType": "IGUser",
            "parameters": []
          }
        ]
      }
    },
    "/{nodeId}/owned_instagram_accounts": {
      "get": {
        "tags": [
          "Business"
        ],
        "operationId": "GetIdOwnedInstagramAccounts",
        "parameters": [
          {
            "name": "nodeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetIdOwnedInstagramAccounts200Response"
                }
              }
            }
          },
          "default": {
            "description": "Graph API error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetIdOwnedInstagramAccountsDefaultResponse"
                }
              }
            }
          }
        },
        "x-meta-operations": [
          {
            "node": "Business",
            "name": null,
            "method": "get",
            "endpoint": "owned_instagram_accounts",
            "basePath": null,
            "returnType": "IGUser",
            "parameters": []
          }
        ]
      }
    },
    "/{nodeId}/owned_instagram_assets": {
      "get": {
        "tags": [
          "Business"
        ],
        "operationId": "GetIdOwnedInstagramAssets",
        "parameters": [
          {
            "name": "nodeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetIdOwnedInstagramAssets200Response"
                }
              }
            }
          },
          "default": {
            "description": "Graph API error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetIdOwnedInstagramAssetsDefaultResponse"
                }
              }
            }
          }
        },
        "x-meta-operations": [
          {
            "node": "Business",
            "name": null,
            "method": "get",
            "endpoint": "owned_instagram_assets",
            "basePath": null,
            "returnType": "InstagramBusinessAsset",
            "parameters": []
          }
        ]
      }
    },
    "/{nodeId}/videos": {
      "post": {
        "tags": [
          "Business",
          "Group",
          "Page",
          "User"
        ],
        "operationId": "PostIdVideos",
        "parameters": [
          {
            "name": "nodeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/PostIdVideosFormDataRequest"
              },
              "encoding": {
                "edit_description_spec": {
                  "contentType": "application/json"
                },
                "guide": {
                  "contentType": "application/json"
                },
                "selected_audio_spec": {
                  "contentType": "application/json"
                },
                "slideshow_spec": {
                  "contentType": "application/json"
                },
                "validation_ad_placements": {
                  "contentType": "application/json"
                },
                "ad_breaks": {
                  "contentType": "application/json"
                },
                "backdated_post": {
                  "contentType": "application/json"
                },
                "call_to_action": {
                  "contentType": "application/json"
                },
                "content_tags": {
                  "contentType": "application/json"
                },
                "custom_labels": {
                  "contentType": "application/json"
                },
                "expiration": {
                  "contentType": "application/json"
                },
                "feed_targeting": {
                  "contentType": "application/json"
                },
                "multilingual_data": {
                  "contentType": "application/json"
                },
                "targeting": {
                  "contentType": "application/json"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostIdVideos200Response"
                }
              }
            }
          },
          "default": {
            "description": "Graph API error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostIdVideosDefaultResponse"
                }
              }
            }
          }
        },
        "x-meta-operations": [
          {
            "node": "Business",
            "name": null,
            "method": "post",
            "endpoint": "videos",
            "basePath": null,
            "returnType": "AdVideo",
            "parameters": [
              {
                "name": "ad_placements_validation_only",
                "required": false,
                "type": "bool"
              },
              {
                "name": "application_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "asked_fun_fact_prompt_id",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "audio_story_wave_animation_handle",
                "required": false,
                "type": "string"
              },
              {
                "name": "chunk_session_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "composer_entry_picker",
                "required": false,
                "type": "string"
              },
              {
                "name": "composer_entry_point",
                "required": false,
                "type": "string"
              },
              {
                "name": "composer_entry_time",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "composer_session_events_log",
                "required": false,
                "type": "string"
              },
              {
                "name": "composer_session_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "composer_source_surface",
                "required": false,
                "type": "string"
              },
              {
                "name": "composer_type",
                "required": false,
                "type": "string"
              },
              {
                "name": "container_type",
                "required": false,
                "type": "businessvideos_container_type_enum_param"
              },
              {
                "name": "content_category",
                "required": false,
                "type": "businessvideos_content_category_enum_param"
              },
              {
                "name": "creative_folder_id",
                "required": true,
                "type": "string"
              },
              {
                "name": "creative_tools",
                "required": false,
                "type": "string"
              },
              {
                "name": "description",
                "required": false,
                "type": "string"
              },
              {
                "name": "edit_description_spec",
                "required": false,
                "type": "map"
              },
              {
                "name": "embeddable",
                "required": false,
                "type": "bool"
              },
              {
                "name": "end_offset",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "fbuploader_video_file_chunk",
                "required": false,
                "type": "string"
              },
              {
                "name": "file_size",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "file_url",
                "required": false,
                "type": "string"
              },
              {
                "name": "fisheye_video_cropped",
                "required": false,
                "type": "bool"
              },
              {
                "name": "formatting",
                "required": false,
                "type": "businessvideos_formatting_enum_param"
              },
              {
                "name": "fov",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "front_z_rotation",
                "required": false,
                "type": "float"
              },
              {
                "name": "fun_fact_prompt_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "fun_fact_toastee_id",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "guide",
                "required": false,
                "type": "list\u003Clist\u003Cunsigned int\u003E\u003E"
              },
              {
                "name": "guide_enabled",
                "required": false,
                "type": "bool"
              },
              {
                "name": "initial_heading",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "initial_pitch",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "instant_game_entry_point_data",
                "required": false,
                "type": "string"
              },
              {
                "name": "is_ai_generated",
                "required": false,
                "type": "bool"
              },
              {
                "name": "is_boost_intended",
                "required": false,
                "type": "bool"
              },
              {
                "name": "is_group_linking_post",
                "required": false,
                "type": "bool"
              },
              {
                "name": "is_partnership_ad",
                "required": false,
                "type": "bool"
              },
              {
                "name": "is_voice_clip",
                "required": false,
                "type": "bool"
              },
              {
                "name": "location_source_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "og_action_type_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "og_icon_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "og_object_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "og_phrase",
                "required": false,
                "type": "string"
              },
              {
                "name": "og_suggestion_mechanism",
                "required": false,
                "type": "string"
              },
              {
                "name": "original_fov",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "original_projection_type",
                "required": false,
                "type": "businessvideos_original_projection_type_enum_param"
              },
              {
                "name": "partnership_ad_ad_code",
                "required": false,
                "type": "string"
              },
              {
                "name": "publish_event_id",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "referenced_sticker_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "replace_video_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "selected_audio_spec",
                "required": false,
                "type": "map"
              },
              {
                "name": "slideshow_spec",
                "required": false,
                "type": "map"
              },
              {
                "name": "source",
                "required": false,
                "type": "string"
              },
              {
                "name": "source_instagram_media_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "spherical",
                "required": false,
                "type": "bool"
              },
              {
                "name": "start_offset",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "swap_mode",
                "required": false,
                "type": "businessvideos_swap_mode_enum_param"
              },
              {
                "name": "text_format_metadata",
                "required": false,
                "type": "string"
              },
              {
                "name": "thumb",
                "required": false,
                "type": "file"
              },
              {
                "name": "time_since_original_post",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "title",
                "required": false,
                "type": "string"
              },
              {
                "name": "transcode_setting_properties",
                "required": false,
                "type": "string"
              },
              {
                "name": "unpublished_content_type",
                "required": false,
                "type": "businessvideos_unpublished_content_type_enum_param"
              },
              {
                "name": "upload_phase",
                "required": false,
                "type": "businessvideos_upload_phase_enum_param"
              },
              {
                "name": "upload_session_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "upload_setting_properties",
                "required": false,
                "type": "string"
              },
              {
                "name": "validation_ad_placements",
                "required": false,
                "type": "list\u003Cbusinessvideos_validation_ad_placements_enum_param\u003E"
              },
              {
                "name": "video_file_chunk",
                "required": false,
                "type": "string"
              },
              {
                "name": "video_id_original",
                "required": false,
                "type": "string"
              },
              {
                "name": "video_start_time_ms",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "waterfall_id",
                "required": false,
                "type": "string"
              }
            ]
          },
          {
            "node": "Group",
            "name": null,
            "method": "post",
            "endpoint": "videos",
            "basePath": null,
            "returnType": "AdVideo",
            "parameters": [
              {
                "name": "application_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "asked_fun_fact_prompt_id",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "audio_story_wave_animation_handle",
                "required": false,
                "type": "string"
              },
              {
                "name": "composer_entry_picker",
                "required": false,
                "type": "string"
              },
              {
                "name": "composer_entry_point",
                "required": false,
                "type": "string"
              },
              {
                "name": "composer_entry_time",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "composer_session_events_log",
                "required": false,
                "type": "string"
              },
              {
                "name": "composer_session_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "composer_source_surface",
                "required": false,
                "type": "string"
              },
              {
                "name": "composer_type",
                "required": false,
                "type": "string"
              },
              {
                "name": "container_type",
                "required": false,
                "type": "groupvideos_container_type_enum_param"
              },
              {
                "name": "content_category",
                "required": false,
                "type": "groupvideos_content_category_enum_param"
              },
              {
                "name": "creative_tools",
                "required": false,
                "type": "string"
              },
              {
                "name": "description",
                "required": false,
                "type": "string"
              },
              {
                "name": "edit_description_spec",
                "required": false,
                "type": "map"
              },
              {
                "name": "embeddable",
                "required": false,
                "type": "bool"
              },
              {
                "name": "end_offset",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "fbuploader_video_file_chunk",
                "required": false,
                "type": "string"
              },
              {
                "name": "file_size",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "file_url",
                "required": false,
                "type": "string"
              },
              {
                "name": "fisheye_video_cropped",
                "required": false,
                "type": "bool"
              },
              {
                "name": "formatting",
                "required": false,
                "type": "groupvideos_formatting_enum_param"
              },
              {
                "name": "fov",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "front_z_rotation",
                "required": false,
                "type": "float"
              },
              {
                "name": "fun_fact_prompt_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "fun_fact_toastee_id",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "guide",
                "required": false,
                "type": "list\u003Clist\u003Cunsigned int\u003E\u003E"
              },
              {
                "name": "guide_enabled",
                "required": false,
                "type": "bool"
              },
              {
                "name": "initial_heading",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "initial_pitch",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "instant_game_entry_point_data",
                "required": false,
                "type": "string"
              },
              {
                "name": "is_ai_generated",
                "required": false,
                "type": "bool"
              },
              {
                "name": "is_boost_intended",
                "required": false,
                "type": "bool"
              },
              {
                "name": "is_explicit_share",
                "required": false,
                "type": "bool"
              },
              {
                "name": "is_group_linking_post",
                "required": false,
                "type": "bool"
              },
              {
                "name": "is_partnership_ad",
                "required": false,
                "type": "bool"
              },
              {
                "name": "is_voice_clip",
                "required": false,
                "type": "bool"
              },
              {
                "name": "location_source_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "manual_privacy",
                "required": false,
                "type": "bool"
              },
              {
                "name": "og_action_type_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "og_icon_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "og_object_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "og_phrase",
                "required": false,
                "type": "string"
              },
              {
                "name": "og_suggestion_mechanism",
                "required": false,
                "type": "string"
              },
              {
                "name": "original_fov",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "original_projection_type",
                "required": false,
                "type": "groupvideos_original_projection_type_enum_param"
              },
              {
                "name": "partnership_ad_ad_code",
                "required": false,
                "type": "string"
              },
              {
                "name": "publish_event_id",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "published",
                "required": false,
                "type": "bool"
              },
              {
                "name": "referenced_sticker_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "replace_video_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "scheduled_publish_time",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "selected_audio_spec",
                "required": false,
                "type": "map"
              },
              {
                "name": "slideshow_spec",
                "required": false,
                "type": "map"
              },
              {
                "name": "source",
                "required": false,
                "type": "string"
              },
              {
                "name": "source_instagram_media_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "spherical",
                "required": false,
                "type": "bool"
              },
              {
                "name": "start_offset",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "swap_mode",
                "required": false,
                "type": "groupvideos_swap_mode_enum_param"
              },
              {
                "name": "text_format_metadata",
                "required": false,
                "type": "string"
              },
              {
                "name": "thumb",
                "required": false,
                "type": "file"
              },
              {
                "name": "time_since_original_post",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "title",
                "required": false,
                "type": "string"
              },
              {
                "name": "transcode_setting_properties",
                "required": false,
                "type": "string"
              },
              {
                "name": "unpublished_content_type",
                "required": false,
                "type": "groupvideos_unpublished_content_type_enum_param"
              },
              {
                "name": "upload_phase",
                "required": false,
                "type": "groupvideos_upload_phase_enum_param"
              },
              {
                "name": "upload_session_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "upload_setting_properties",
                "required": false,
                "type": "string"
              },
              {
                "name": "video_file_chunk",
                "required": false,
                "type": "string"
              },
              {
                "name": "video_id_original",
                "required": false,
                "type": "string"
              },
              {
                "name": "video_start_time_ms",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "waterfall_id",
                "required": false,
                "type": "string"
              }
            ]
          },
          {
            "node": "Page",
            "name": null,
            "method": "post",
            "endpoint": "videos",
            "basePath": null,
            "returnType": "AdVideo",
            "parameters": [
              {
                "name": "ad_breaks",
                "required": false,
                "type": "list"
              },
              {
                "name": "application_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "asked_fun_fact_prompt_id",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "audio_story_wave_animation_handle",
                "required": false,
                "type": "string"
              },
              {
                "name": "backdated_post",
                "required": false,
                "type": "list"
              },
              {
                "name": "call_to_action",
                "required": false,
                "type": "Object"
              },
              {
                "name": "composer_entry_picker",
                "required": false,
                "type": "string"
              },
              {
                "name": "composer_entry_point",
                "required": false,
                "type": "string"
              },
              {
                "name": "composer_entry_time",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "composer_session_events_log",
                "required": false,
                "type": "string"
              },
              {
                "name": "composer_session_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "composer_source_surface",
                "required": false,
                "type": "string"
              },
              {
                "name": "composer_type",
                "required": false,
                "type": "string"
              },
              {
                "name": "container_type",
                "required": false,
                "type": "pagevideos_container_type_enum_param"
              },
              {
                "name": "content_category",
                "required": false,
                "type": "pagevideos_content_category_enum_param"
              },
              {
                "name": "content_tags",
                "required": false,
                "type": "list\u003Cstring\u003E"
              },
              {
                "name": "creative_tools",
                "required": false,
                "type": "string"
              },
              {
                "name": "crossposted_video_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "custom_labels",
                "required": false,
                "type": "list\u003Cstring\u003E"
              },
              {
                "name": "description",
                "required": false,
                "type": "string"
              },
              {
                "name": "direct_share_status",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "edit_description_spec",
                "required": false,
                "type": "map"
              },
              {
                "name": "embeddable",
                "required": false,
                "type": "bool"
              },
              {
                "name": "end_offset",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "expiration",
                "required": false,
                "type": "Object"
              },
              {
                "name": "fbuploader_video_file_chunk",
                "required": false,
                "type": "string"
              },
              {
                "name": "feed_targeting",
                "required": false,
                "type": "Object"
              },
              {
                "name": "file_size",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "file_url",
                "required": false,
                "type": "string"
              },
              {
                "name": "fisheye_video_cropped",
                "required": false,
                "type": "bool"
              },
              {
                "name": "formatting",
                "required": false,
                "type": "pagevideos_formatting_enum_param"
              },
              {
                "name": "fov",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "front_z_rotation",
                "required": false,
                "type": "float"
              },
              {
                "name": "fun_fact_prompt_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "fun_fact_toastee_id",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "guide",
                "required": false,
                "type": "list\u003Clist\u003Cunsigned int\u003E\u003E"
              },
              {
                "name": "guide_enabled",
                "required": false,
                "type": "bool"
              },
              {
                "name": "initial_heading",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "initial_pitch",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "instant_game_entry_point_data",
                "required": false,
                "type": "string"
              },
              {
                "name": "is_ai_generated",
                "required": false,
                "type": "bool"
              },
              {
                "name": "is_boost_intended",
                "required": false,
                "type": "bool"
              },
              {
                "name": "is_explicit_share",
                "required": false,
                "type": "bool"
              },
              {
                "name": "is_group_linking_post",
                "required": false,
                "type": "bool"
              },
              {
                "name": "is_partnership_ad",
                "required": false,
                "type": "bool"
              },
              {
                "name": "is_voice_clip",
                "required": false,
                "type": "bool"
              },
              {
                "name": "location_source_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "manual_privacy",
                "required": false,
                "type": "bool"
              },
              {
                "name": "multilingual_data",
                "required": false,
                "type": "list\u003CObject\u003E"
              },
              {
                "name": "no_story",
                "required": false,
                "type": "bool"
              },
              {
                "name": "og_action_type_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "og_icon_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "og_object_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "og_phrase",
                "required": false,
                "type": "string"
              },
              {
                "name": "og_suggestion_mechanism",
                "required": false,
                "type": "string"
              },
              {
                "name": "original_fov",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "original_projection_type",
                "required": false,
                "type": "pagevideos_original_projection_type_enum_param"
              },
              {
                "name": "partnership_ad_ad_code",
                "required": false,
                "type": "string"
              },
              {
                "name": "publish_event_id",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "published",
                "required": false,
                "type": "bool"
              },
              {
                "name": "reference_only",
                "required": false,
                "type": "bool"
              },
              {
                "name": "referenced_sticker_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "replace_video_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "scheduled_publish_time",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "secret",
                "required": false,
                "type": "bool"
              },
              {
                "name": "selected_audio_spec",
                "required": false,
                "type": "map"
              },
              {
                "name": "slideshow_spec",
                "required": false,
                "type": "map"
              },
              {
                "name": "social_actions",
                "required": false,
                "type": "bool"
              },
              {
                "name": "source",
                "required": false,
                "type": "string"
              },
              {
                "name": "source_instagram_media_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "specified_dialect",
                "required": false,
                "type": "string"
              },
              {
                "name": "spherical",
                "required": false,
                "type": "bool"
              },
              {
                "name": "sponsor_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "sponsor_relationship",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "start_offset",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "swap_mode",
                "required": false,
                "type": "pagevideos_swap_mode_enum_param"
              },
              {
                "name": "targeting",
                "required": false,
                "type": "Object"
              },
              {
                "name": "text_format_metadata",
                "required": false,
                "type": "string"
              },
              {
                "name": "thumb",
                "required": false,
                "type": "file"
              },
              {
                "name": "time_since_original_post",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "title",
                "required": false,
                "type": "string"
              },
              {
                "name": "transcode_setting_properties",
                "required": false,
                "type": "string"
              },
              {
                "name": "universal_video_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "unpublished_content_type",
                "required": false,
                "type": "pagevideos_unpublished_content_type_enum_param"
              },
              {
                "name": "upload_phase",
                "required": false,
                "type": "pagevideos_upload_phase_enum_param"
              },
              {
                "name": "upload_session_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "upload_setting_properties",
                "required": false,
                "type": "string"
              },
              {
                "name": "video_asset_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "video_file_chunk",
                "required": false,
                "type": "string"
              },
              {
                "name": "video_id_original",
                "required": false,
                "type": "string"
              },
              {
                "name": "video_start_time_ms",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "waterfall_id",
                "required": false,
                "type": "string"
              }
            ]
          },
          {
            "node": "User",
            "name": null,
            "method": "post",
            "endpoint": "videos",
            "basePath": null,
            "returnType": "AdVideo",
            "parameters": [
              {
                "name": "application_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "asked_fun_fact_prompt_id",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "audio_story_wave_animation_handle",
                "required": false,
                "type": "string"
              },
              {
                "name": "composer_entry_picker",
                "required": false,
                "type": "string"
              },
              {
                "name": "composer_entry_point",
                "required": false,
                "type": "string"
              },
              {
                "name": "composer_entry_time",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "composer_session_events_log",
                "required": false,
                "type": "string"
              },
              {
                "name": "composer_session_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "composer_source_surface",
                "required": false,
                "type": "string"
              },
              {
                "name": "composer_type",
                "required": false,
                "type": "string"
              },
              {
                "name": "container_type",
                "required": false,
                "type": "uservideos_container_type_enum_param"
              },
              {
                "name": "content_category",
                "required": false,
                "type": "uservideos_content_category_enum_param"
              },
              {
                "name": "creative_tools",
                "required": false,
                "type": "string"
              },
              {
                "name": "description",
                "required": false,
                "type": "string"
              },
              {
                "name": "direct_share_status",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "edit_description_spec",
                "required": false,
                "type": "map"
              },
              {
                "name": "embeddable",
                "required": false,
                "type": "bool"
              },
              {
                "name": "end_offset",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "fbuploader_video_file_chunk",
                "required": false,
                "type": "string"
              },
              {
                "name": "file_size",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "file_url",
                "required": false,
                "type": "string"
              },
              {
                "name": "fisheye_video_cropped",
                "required": false,
                "type": "bool"
              },
              {
                "name": "formatting",
                "required": false,
                "type": "uservideos_formatting_enum_param"
              },
              {
                "name": "fov",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "front_z_rotation",
                "required": false,
                "type": "float"
              },
              {
                "name": "fun_fact_prompt_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "fun_fact_toastee_id",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "guide",
                "required": false,
                "type": "list\u003Clist\u003Cunsigned int\u003E\u003E"
              },
              {
                "name": "guide_enabled",
                "required": false,
                "type": "bool"
              },
              {
                "name": "initial_heading",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "initial_pitch",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "instant_game_entry_point_data",
                "required": false,
                "type": "string"
              },
              {
                "name": "is_ai_generated",
                "required": false,
                "type": "bool"
              },
              {
                "name": "is_boost_intended",
                "required": false,
                "type": "bool"
              },
              {
                "name": "is_explicit_share",
                "required": false,
                "type": "bool"
              },
              {
                "name": "is_group_linking_post",
                "required": false,
                "type": "bool"
              },
              {
                "name": "is_partnership_ad",
                "required": false,
                "type": "bool"
              },
              {
                "name": "is_voice_clip",
                "required": false,
                "type": "bool"
              },
              {
                "name": "location_source_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "manual_privacy",
                "required": false,
                "type": "bool"
              },
              {
                "name": "no_story",
                "required": false,
                "type": "bool"
              },
              {
                "name": "og_action_type_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "og_icon_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "og_object_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "og_phrase",
                "required": false,
                "type": "string"
              },
              {
                "name": "og_suggestion_mechanism",
                "required": false,
                "type": "string"
              },
              {
                "name": "original_fov",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "original_projection_type",
                "required": false,
                "type": "uservideos_original_projection_type_enum_param"
              },
              {
                "name": "partnership_ad_ad_code",
                "required": false,
                "type": "string"
              },
              {
                "name": "privacy",
                "required": false,
                "type": "string"
              },
              {
                "name": "publish_event_id",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "referenced_sticker_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "replace_video_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "selected_audio_spec",
                "required": false,
                "type": "map"
              },
              {
                "name": "slideshow_spec",
                "required": false,
                "type": "map"
              },
              {
                "name": "source",
                "required": false,
                "type": "string"
              },
              {
                "name": "source_instagram_media_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "spherical",
                "required": false,
                "type": "bool"
              },
              {
                "name": "sponsor_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "start_offset",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "swap_mode",
                "required": false,
                "type": "uservideos_swap_mode_enum_param"
              },
              {
                "name": "text_format_metadata",
                "required": false,
                "type": "string"
              },
              {
                "name": "thumb",
                "required": false,
                "type": "file"
              },
              {
                "name": "time_since_original_post",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "title",
                "required": false,
                "type": "string"
              },
              {
                "name": "transcode_setting_properties",
                "required": false,
                "type": "string"
              },
              {
                "name": "unpublished_content_type",
                "required": false,
                "type": "uservideos_unpublished_content_type_enum_param"
              },
              {
                "name": "upload_phase",
                "required": false,
                "type": "uservideos_upload_phase_enum_param"
              },
              {
                "name": "upload_session_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "upload_setting_properties",
                "required": false,
                "type": "string"
              },
              {
                "name": "video_file_chunk",
                "required": false,
                "type": "string"
              },
              {
                "name": "video_id_original",
                "required": false,
                "type": "string"
              },
              {
                "name": "video_start_time_ms",
                "required": false,
                "type": "unsigned int"
              },
              {
                "name": "waterfall_id",
                "required": false,
                "type": "string"
              }
            ]
          }
        ]
      }
    },
    "/{nodeId}/contained_instagram_accounts": {
      "delete": {
        "tags": [
          "BusinessAssetGroup"
        ],
        "operationId": "DeleteIdContainedInstagramAccounts",
        "parameters": [
          {
            "name": "nodeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "asset_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteIdContainedInstagramAccounts200Response"
                }
              }
            }
          },
          "default": {
            "description": "Graph API error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteIdContainedInstagramAccountsDefaultResponse"
                }
              }
            }
          }
        },
        "x-meta-operations": [
          {
            "node": "BusinessAssetGroup",
            "name": null,
            "method": "delete",
            "endpoint": "contained_instagram_accounts",
            "basePath": null,
            "returnType": "Object",
            "parameters": [
              {
                "name": "asset_id",
                "required": true,
                "type": "string"
              }
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "BusinessAssetGroup"
        ],
        "operationId": "GetIdContainedInstagramAccounts",
        "parameters": [
          {
            "name": "nodeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetIdContainedInstagramAccounts200Response"
                }
              }
            }
          },
          "default": {
            "description": "Graph API error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetIdContainedInstagramAccountsDefaultResponse"
                }
              }
            }
          }
        },
        "x-meta-operations": [
          {
            "node": "BusinessAssetGroup",
            "name": null,
            "method": "get",
            "endpoint": "contained_instagram_accounts",
            "basePath": null,
            "returnType": "IGUser",
            "parameters": []
          }
        ]
      },
      "post": {
        "tags": [
          "BusinessAssetGroup"
        ],
        "operationId": "PostIdContainedInstagramAccounts",
        "parameters": [
          {
            "name": "nodeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/PostIdContainedInstagramAccountsXWwwFormUrlencodedRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostIdContainedInstagramAccounts200Response"
                }
              }
            }
          },
          "default": {
            "description": "Graph API error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostIdContainedInstagramAccountsDefaultResponse"
                }
              }
            }
          }
        },
        "x-meta-operations": [
          {
            "node": "BusinessAssetGroup",
            "name": null,
            "method": "post",
            "endpoint": "contained_instagram_accounts",
            "basePath": null,
            "returnType": "BusinessAssetGroup",
            "parameters": [
              {
                "name": "asset_id",
                "required": true,
                "type": "string"
              }
            ]
          }
        ]
      }
    },
    "/{nodeId}": {
      "post": {
        "tags": [
          "Canvas",
          "IGComment",
          "IGMedia",
          "IGMediaForIGOnlyAPI",
          "IGUpcomingEvent",
          "Page",
          "User"
        ],
        "operationId": "PostId",
        "parameters": [
          {
            "name": "nodeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/PostIdXWwwFormUrlencodedRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostId200Response"
                }
              }
            }
          },
          "default": {
            "description": "Graph API error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostIdDefaultResponse"
                }
              }
            }
          }
        },
        "x-meta-operations": [
          {
            "node": "Canvas",
            "name": "#update",
            "method": "post",
            "endpoint": "",
            "basePath": null,
            "returnType": "Canvas",
            "parameters": [
              {
                "name": "background_color",
                "required": false,
                "type": "string"
              },
              {
                "name": "body_element_ids",
                "required": false,
                "type": "list\u003Cstring\u003E"
              },
              {
                "name": "enable_swipe_to_open",
                "required": false,
                "type": "bool"
              },
              {
                "name": "hero_asset_facebook_post_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "hero_asset_instagram_media_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "is_hidden",
                "required": false,
                "type": "bool"
              },
              {
                "name": "is_published",
                "required": false,
                "type": "bool"
              },
              {
                "name": "name",
                "required": false,
                "type": "string"
              },
              {
                "name": "source_template_id",
                "required": false,
                "type": "string"
              }
            ]
          },
          {
            "node": "IGComment",
            "name": "#update",
            "method": "post",
            "endpoint": "",
            "basePath": null,
            "returnType": "IGComment",
            "parameters": [
              {
                "name": "ad_id",
                "required": false,
                "type": "string"
              },
              {
                "name": "hide",
                "required": true,
                "type": "bool"
              }
            ]
          },
          {
            "node": "IGMedia",
            "name": "#update",
            "method": "post",
            "endpoint": "",
            "basePath": null,
            "returnType": "IGMedia",
            "parameters": [
              {
                "name": "comment_enabled",
                "required": false,
                "type": "bool"
              },
[...]
